*{
    margin :  0;
    padding :  0;
    box-sizing: border-box;
 }

body{
    width: 80%;
    margin: 0 auto;
}

header{
    height: 100px;
    background-color: violet;
    margin-top: 1em;
}

.section-gold{
    height: 400px;
    background-color: goldenrod;
    margin: 1em 0;
}

.section-lightblue{
    height: 70px;
    background-color: aqua;
}

.contenitore{
    background-color: blue;
    padding: 20px 0;
}

.contenitore::after{
    content: "";
    display: table;
    clear: both;
}

.colonna{
    height: 400px;
    background-color: aqua;
}

.sx{
    width: 20%;
    float: left;
}

.dx{
    width: 20%;
    float: right;
}

.cntr{
    width: calc(100% - 50%);
    float: left;
    margin: 0 5%;
}
    
footer{
    height: 50px;
    background-color: blueviolet;
    margin: 5px 0 15px 0;
}