*{
    margin :  0;
    padding :  0;
    box-sizing: border-box;
 }

body{
    width: 80%;
    margin: 0 auto;
}

header{
    height: 100px;
    background-color: violet;
    margin-top: 1em;
}

.section-gold{
    height: 400px;
    background-color: goldenrod;
    margin: 1em 0;
}

.section-lightblue{
    height: 70px;
    background-color: aqua;
}